<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016916599746-nbrh51tdck2hlr8vpt1rsm6d20ucgk9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016916599746-nbrh51tdck2hlr8vpt1rsm6d20ucgk9s</string>
	<key>API_KEY</key>
	<string>AIzaSyCDdQhLe9d6m0yFW9OtCuyivt4iV_9AezQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1016916599746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.suyeon.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-a13f7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-a13f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016916599746:ios:a1104f10f27c16fe27ec5b</string>
	<key>DATABASE_URL</key>
	<string>https://chat-a13f7.firebaseio.com</string>
</dict>
</plist>